.makeHover {
    /* transition: all 0.5s ease-in-out; */
    padding: 20px;
    overflow: hidden;
    transition: transform 0.5s ease;
    width: 100%;
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}

.formContainer {
    border-radius: 5px;
    height: auto;
    padding: 2%;
    box-shadow: 4px 3px 23px lightgrey;
}

.makeHover:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}

.heart {
    color: red;
}

.pakistan {
    color: white;
}

.companyHeading {
    margin-top: "20rem";
}

.formField {
    padding: "10rem";
}

.formButton {
    display: flex;
    justify-content: end;
}

.headerFooterBg {
    /* background-image: linear-gradient(180deg, #8dc63f 0%, #0e76bc 100%);
  background:url("../../assets/header-footer-bg.jpg") ; */
    position: fixed;
    background-image: linear-gradient(113deg, #8dc63f 0%, #0e76bc 100%);
    padding-top: 2rem;
}

.homeBody {
    padding-bottom: 1.5rem;
}

@media only screen and (min-width: 750px) {
    .companyHeading {
        margin-left: -10rem;
    }
}