.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.linkTag {
    text-decoration: underline;
}

.linkTag:hover {
    cursor: pointer;
}

.companiesGrid {
    padding-top: 18rem;
    margin-left: -20rem;
    min-height: 100vh;
    width: 130%;
}